In [1]:
import pandas as pd

In [4]:
dataset= pd.read_csv("C:\\Users\\Mona\\Documents\\crop_production_updated2.csv")

total_production_by_state = dataset.groupby('State_Name')['Production'].sum().reset_index()
total_production_by_state.columns = ['State', 'Total_Production']
print(total_production_by_state)

                          State  Total_Production
0   Andaman and Nicobar Islands      7.193882e+08
1                Andhra Pradesh      1.736362e+10
2             Arunachal Pradesh      7.406416e+06
3                         Assam      2.115247e+09
4                         Bihar      3.728911e+08
5                    Chandigarh      6.464599e+05
6                  Chhattisgarh      2.995856e+08
7        Dadra and Nagar Haveli      1.847871e+06
8                           Goa      5.063383e+08
9                       Gujarat      5.656491e+08
10                      Haryana      1.158916e+09
11             Himachal Pradesh      3.994030e+07
12           Jammu and Kashmir       1.445602e+07
13                    Jharkhand      1.077774e+07
14                    Karnataka      8.884775e+08
15                       Kerala      9.803033e+10
16               Madhya Pradesh      6.463094e+08
17                  Maharashtra      1.340531e+09
18                      Manipur      5.813420e+06
19                    Meghalaya      1.211250e+07
20                      Mizoram      3.409050e+06
21                     Nagaland      1.393096e+07
22                       Odisha      1.906117e+08
23                   Puducherry      3.870545e+08
24                       Punjab      6.038601e+08
25                    Rajasthan      5.422818e+08
26                       Sikkim      2.435735e+06
27                   Tamil Nadu      1.224013e+10
28                   Telangana       3.689331e+08
29                      Tripura      1.252292e+07
30                Uttar Pradesh      3.302646e+09
31                  Uttarakhand      1.735351e+08
32                  West Bengal      1.407224e+09

In [5]:
average_production_per_season = dataset.groupby('Season')['Production'].mean().reset_index()
average_production_per_season.columns = ['Season', 'Average_Production']
print(average_production_per_season)

        Season  Average_Production
0  Autumn             1.525184e+04
1  Kharif             5.212646e+04
2  Rabi               3.781955e+04
3  Summer             1.267657e+04
4  Whole Year         2.357753e+06
5  Winter             7.250080e+04

In [6]:
top_crops_by_production = dataset.groupby('Crop')['Production'].sum().reset_index()
top_crops_by_production.columns = ['Crop_Name', 'Total_Production']
top_crops_by_production = top_crops_by_production.sort_values(by='Total_Production', ascending=False).head(10)  # Get top 10
print(top_crops_by_production)

        Crop_Name  Total_Production
28       Coconut       1.299974e+11
106     Sugarcane      5.590437e+09
95           Rice      1.618285e+09
119         Wheat      1.345058e+09
87         Potato      4.347289e+08
33   Cotton(lint)      3.762205e+08
59          Maize      3.665424e+08
49           Jute      2.077708e+08
7          Banana      1.904029e+08
41           Gram      1.774697e+08