In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
dataset= pd.read_csv("C:\\Users\\Mona\\Documents\\crop_production.csv")

In [3]:
dataset.head(2)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0

In [4]:
dataset.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [5]:
dataset['Production'].fillna(dataset['Production'].mean(), inplace=True)

C:\Users\Mona\AppData\Local\Temp\ipykernel_2768\1327593950.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Production'].fillna(dataset['Production'].mean(), inplace=True)

In [ ]:
dataset.to_csv("C:\\Users\\Mona\\Documents\\crop_production_updated2.csv")